{% extends "stock/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body >
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">IPP Stockroom Manager</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
		  <li class="nav-item text-nowrap">
			<a class="nav-link" href="{% url 'logout' %}">Sign out</a>
		  </li>
		</ul>
    </nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			    <li class="nav-item">
					<a class="nav-link active" href="{% url 'stock:priority' %}">
					  <span data-feather="home"></span>
					  Back to Priorities <span class="sr-only">(current)</span>
					</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'index' %}">
					  <span data-feather="home"></span>
					  Home <span class="sr-only">(current)</span>
					</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">
					  <span data-feather="layers"></span>
					  Log out
					</a>
				 </li>
			 </ul>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	    <input type='hidden' id = '_id' value = {{active_stock.id}} name='stock_id' data-select='stock_id'/>
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			{% if active_stock %}
				<h1 class="h2"> Job Number: {{active_stock.job_number}}</h1>
			{% else %}
				<h1 class="h1"> stock ITEM:</h1>
			{% endif %}
			<form action = # method="post">
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button type="submit" id = "update_stock" name = "update_stock" class="btn btn-lg btn-outline-secondary">update</button>
					<button type="submit" id = "del_stock" name = "del_stock" class="btn btn-lg btn-outline-secondary">Delete</button>
				</div>
			</div>
			<form  method="post">
		</div>
		<form  method="post">
		    {% csrf_token %}
			<div class="row">
				<div class="col-sm-5 col-lg-6 grid-col">
					<div class="form-group">
						<label>stock Item</label>
						<p></p>
						<p class = 'row_ font-weight-bold' id = '_unit'>Part Number:<a style="color:violet;" class = 'font-weight-normal '>  {{active_stock.part_number}}</a></p>
						<p class = 'row_ font-weight-bold font-weight-bold' id = '_part'>Job Number:<a style="color:gray;" class = 'font-weight-normal'> {{active_stock.job_number}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_bins'>Product Code:<a class = 'font-weight-normal'>  {{active_stock.product_code}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_gl'>Due Date:<a  style="color:red;" class = 'font-weight-large font-italic'>  {{active_stock.due_date}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>Status:<a class = 'font-weight-normal '>  {{active_stock.status}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>Quantity Make:<a class = 'font-weight-normal '>  {{active_stock.quantity_total|stringformat:".0f"}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>Quantity Ready:<a class = 'font-weight-normal '>  {{active_stock.quantity_ready_to_ship|stringformat:".0f"}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>On Hand:<a class = 'font-weight-normal'>  {{on_hand.quantity_on_hand|stringformat:".0f"}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_out'>Hard Allocations:<a class = 'font-weight-normal'>  {{active_stock.has_hard_allocations}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_on'>Soft Allocations:<a class = 'font-weight-normal'>  {{active_stock.has_soft_allocations}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>Current Work Center:<a class = 'font-weight-normal'>  {{active_stock.current_work_center}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_vendor'>Next Work Center:<a class = 'font-weight-normal'>  {{active_stock.status}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_res'>Order Type:<a class = 'font-weight-normal'>  {{stock.order_type}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_cust'>Revision Level:<a class = 'font-weight-normal'>  {{active_stock.revision_level}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_cust'>Customer Code:<a class = 'font-weight-normal'>  {{stock.customer_code}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_res'>Customer Name:<a style="color:Blue" class = 'font-weight-normal'>  {{stock.customer_name}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_res'>Customer Revision Level:<a class = 'font-weight-normal'>  {{active_stock.customer_revision_level}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_prod'>Projected Ship Date:<a class = 'font-weight-normal'>  {{active_stock.projected_ship_date}}</a></p>
						<p class = 'row_ font-weight-bold' id = '_desc'>Sales Notes:<a  style="color:Green" class = 'font-weight-normal font-italic'>  {{active_stock.notes}}</a></p>
					</div>
				</div>
				
				<div class="col-sm-2 col-lg-3 grid-col">
					<div class="thumbnail">
						<img src="{% static 'stock/images/temp_image.jpg' %}" class="img-responsive" alt="Cinque Terre">
						<div class="caption" >
							<p>Part Number:{{active_stock.part_number}}</p>
						</div>
					</div>	
				</div>
			</div>	
		</form>
		
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'stock/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'stock/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>                           
</body>
{% endblock %}

</html>

