{% extends "excel/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{% url 'excel:reports' %}" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;Innovative Power Products</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
	<form action = "{% url 'excel:reports' %}" method="post">
		{% csrf_token %}	
		
			<section class="py-7 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">IPP Test Report Server</h1>
						<p>
							{% if job_num != -1 %}
								<button type="submit" id = "_report" name = "_report" class="btn btn-primary my-2" onclick="changeReportingValue()">Create Test Report</button>
								<button type="submit" id = "_analyze" name = "_analyze" class="btn btn-secondary my-2" onclick="changeAnalyzingValue()">Analyze Data</button>
								<button type="submit" id = "_trace" name = "_trace" class="btn btn-warning my-2" onclick="changeTraceValue()">Create Trace Report</button>
							{% endif %}
						</p>
						
					</div>
				</div>
			</section>
			<section class="py-7 text-center container">
				<h2 class="fw-light">Data Filter</h2>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_job">Job Number</label>
						<!-- Customer-->
						<select id='_job' name ='_job' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" required>
							{% if job_num == -1%}
								<option data-desc = '_job' >Job_number</option>
							{% else %}
								<option selected>{{job_num}}</option>
							{% endif %}	
							{% for job in job_list%}
								<option data-desc = '_job', value = "{{job}}">{{job}}</option>
							{% endfor %}
							</select>
						</div>
					</div>
				</div>	
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">		
						<label for="_part">Part Number</label>
						<select id='_part' name ='_part' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" required>
							{% if part_num == -1%}
								<option data-desc = '_part' >Part_number</option>
							{% else %}
								<option selected>{{part_num}}</option>
							{% endif %}	
							{% for part in part_list%}
								<option data-desc = '_part',  value = "{{part}}">{{part}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_workstation">Workstation</label>
						<!-- Customer-->
						<select id='_workstation' name ='_workstation' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" required>
							{% if workstation == -1%}
								<option data-desc = '_workstation'>Workstation</option>
							{% else %}
								<option selected>{{workstation}}</option>
							{% endif %}	
							{% for station in workstation_list%}
								<option data-desc = '_workstation', value = "{{workstation}}">{{station}}</option>
							{% endfor %}
						</select>
					</div>
				</div>		
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">		
						<label for="_operator">Operator</label>
						<select id='_operator' name ='_operator' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" required>
							{% if job_num == -1%}
								<option data-desc = '_operator'>Operator</option>
							{% else %}
								<option selected>{{operator}}</option>
							{% endif %}	
							{% for op in operator_list%}
								<option data-desc = '_operator', value = "{{op}}">{{op}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">		
						<label for="_art">Art Work</label>
						<select id='_art' name ='_art' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" required>
							{% if artwork == -1%}
								<option data-desc = '_art'>Art Work Rev.</option>
							{% else %}
								<option selected, value = "All Artworks">{{artwork}}</option>
								<option data-desc = '_art', value = "{{art}}">All Artworks</option>
							{% endif %}	
							{% for art in artwork_list%}
								<option data-desc = '_art', value = "{{art}}">{{art}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</section>
			{% if analyze != -1 %}
			<section class="py-7 text-center container">
				<h2 class="fw-light">Specifications&nbsp;&nbsp;{{spectype}}</h2>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_spec1">Insertion loss</label>
						<input type="text" id='_spec1' name ='_spec1' value = {{spec1}} style="width: 124px">
					</div>
				</div>	
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_spec2">Return loss</label>
						<input type="text" id='_spec2' name ='_spec2' value = {{spec2}} style="width: 124px">
					</div>
				</div>
				{% if '90 DEGREE COUPLER' in spectype or 'BALUN' in spectype %}
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec3">Isolation</label>
							<input type="text" id='_spec3' name ='_spec3' value = {{spec3}} style="width: 124px">
						</div>
					</div>
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec4">Amplitude Balance</label>
							<input type="text" id='_spec4' name ='_spec4' value = {{spec4}} style="width: 124px">
						</div>
					</div>
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec5">Phase Balance</label>
							<input type="text" id='_spec5' name ='_spec5' value = {{spec5}} style="width: 124px">
						</div>
					</div>
				{% else %}
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec3">Coupling</label>
							<input type="text" id='_spec3' name ='_spec3' value = {{spec3}} style="width: 124px">
						</div>
					</div>
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec4">Directivity</label>
							<input type="text" id='_spec4' name ='_spec4' value = {{spec4}} style="width: 124px">
						</div>
					</div>
					<div class="col-sm-1 col-lg-2 grid-col">
						<div class="form-group">
							<label for="_spec5">Coupling Balance</label>
							<input type="text" id='_spec5' name ='_spec5' value = {{spec5}} style="width: 124px">
						</div>
					</div>
				{% endif %}
			{% endif %}
			</section>
			
			{% if analyze != -1 %}
				<section class="py-7 container">
				<h2 class="text-center">Statistics&nbsp;&nbsp;{{spectype}}</h2>
					<div class="col-sm-1 col-lg-10 grid-col">
						<div class="form-group">
							<table id = "specs" class="table">
								<thead>
									<tr class="table-active">
										<th></th>
										<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IL</th>
										<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RL</th>
										{% if '90 DEGREE COUPLER' in spectype or 'BALUN' in spectype %}
											<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ISO </th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AB </th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PB</th>
										{% else %}
											<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COUP</th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIR</th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;;CF</th>
										{% endif %}
									</tr>
								</thead>
							  <tbody>
								<tr class="table-warning">
									<th>Specifications</th>
									<td>{{spec1}} Max&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>{{spec2}} Max&nbsp;&nbsp;&nbsp;</td>
									{% if '90 DEGREE COUPLER' in spectype or 'BALUN' in spectype %}
										<td>-{{spec3}} Max&nbsp;&nbsp;&nbsp;</td>
										<td>+/- {{spec4}} dB&nbsp;&nbsp;&nbsp;</td>
										<td>+/- {{spec5}} deg</td>
									{% else %}  
										<td>{{spec3}} Max&nbsp;&nbsp;&nbsp;</td>
										<td>+/- {{spec4}} dB&nbsp;&nbsp;&nbsp;</td>
										<td>+/- {{spec5}} dB</td>
								   {% endif %}
								</tr>
								<tr class="table-info">
								  <th>Average</th>
								  <td>{{stat1_avg}}</td>
								  <td>{{stat2_avg}}</td>
								  <td>{{stat3_avg}}</td>
								  <td>{{stat4_avg}}</td>
								  <td>{{stat5_avg}}</td>
								</tr>
								<tr class="table-info">
								  <th>Minimum</th>
								  <td>{{stat1_min}}</td>
								  <td>{{stat2_min}}</td>
								  <td>{{stat3_min}}</td>
								  <td>{{stat4_min}}</td>
								  <td>{{stat5_min}}</td>
								</tr>
								<tr class="table-info">
								  <th>Maximum</th>
								  <td>{{stat1_max}}</td>
								  <td>{{stat2_max}}</td>
								  <td>{{stat3_max}}</td>
								  <td>{{stat4_max}}</td>
								  <td>{{stat5_max}}</td>
								</tr>
								<tr class="table-info">
								  <th>Standard Deviation</th>
								  <td>{{stat1_std}}</td>
								  <td>{{stat2_std}}</td>
								  <td>{{stat3_std}}</td>
								  <td>{{stat4_min}}</td>
								  <td>{{stat5_min}}</td>
								</tr>
								<tr class="table-dark">
								  <th>total Tested</th>
								  <td>{{total}}</td>
								  <td>{{total}}</td>
								  <td>{{total}}</td>
								  <td>{{total}}</td>
								  <td>{{total}}</td>
								</tr>
								<tr class="table-dark">
								  <th>missing data (removed)</th>
								  <td>{{blank}}</td>
								  <td>{{blank}}</td>
								  <td>{{blank}}</td>
								  <td>{{blank}}</td>
								  <td>{{blank}}</td>
								</tr>
								<tr class="bg-warning">
								  <th>bad data Avg. (removed)</th>
								  <td>{{bad1}}</td>
								  <td>{{bad2}}</td>
								  <td>{{bad3}}</td>
								  <td>{{bad4}}</td>
								  <td>{{bad5}}</td>
								</tr>
								<tr class="table-success">
								  <th>Passed</th>
								  <td>{{passed1}}</td>
								  <td>{{passed2}}</td>
								  <td>{{passed3}}</td>
								  <td>{{passed4}}</td>
								  <td>{{passed5}}</td>
								</tr>
								<tr class="table-danger">
								  <th>Failed</th>
								  <td>{{failed1}}</td>
								  <td>{{failed2}}</td>
								  <td>{{failed3}}</td>
								  <td>{{failed4}}</td>
								  <td>{{failed5}}</td>
								</tr>
								<tr class="table-danger">
								  <th>% Failed</th>
								  <td>{{failed_percent1}}</td>
								  <td>{{failed_percent2}}</td>
								  <td>{{failed_percent3}}</td>
								  <td>{{failed_percent4}}</td>
								  <td>{{failed_percent5}}</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>	
				</section>
				<div class="container" align="left">
					<h2 class="text-center">Charts&nbsp;&nbsp;{{spectype}}</h2>
					<!--div style="position: relative; left: 0; top: 0;">
						<embed type="image/svg+xml" src={{il_histo_data|safe}} class="bottom" style='max-width:500px'/>
						<embed type="image/svg+xml" src={{il_histo_data2 |safe}} class="top" style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart1|safe}} style='max-width:500px'/>
					</div-->
					<embed type="image/svg+xml" src={{il_histo_data|safe}} style='max-width:500px'/>
					<!--embed type="image/svg+xml" src={{il_histo_data2|safe}} style='max-width:500px'/-->
					<embed type="image/svg+xml" src={{chart1|safe}} style='max-width:500px'/>
					<embed type="image/svg+xml" src={{rl_histo_data|safe}} style='max-width:500px'/>
					<embed type="image/svg+xml" src={{chart2|safe}} style='max-width:500px'/>
					{% if '90 DEGREE COUPLER' in spectype or 'BALUN' in spectype %}
						<embed type="image/svg+xml" src={{iso_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart3|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{ab_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart4|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{pb_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart5|safe}} style='max-width:500px'/>
					{% else %}
						<embed type="image/svg+xml" src={{coup_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart3|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{dir_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart4|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{cb_histo_data|safe}} style='max-width:500px'/>
						<embed type="image/svg+xml" src={{chart5|safe}} style='max-width:500px'/>
					{% endif %}
				</div>
			{% endif %}
			{% if spectype != -1 %}
				<section class="py-7 text-center container">
					<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
						<h3 class="text-center"> Test Data&nbsp;&nbsp;{{spectype}}</h3>
						<div class="table-responsive">
							<table id = "table_id" class="table table-striped table-sm">
								<thead>
									<tr>
										{% if '90 DEGREE COUPLER' in spectype or 'BALUN' in spectype %}
											<th>Serial Number</th>
											<th>Insertion Loss</th>
											<th>Return Loss</th>
											<th>Isolation</th>
											<th>Amplitude Balance</th>
											<th>Phase Balance</th>
											<th>Art Work Rev.</th>
										{% else %}
											th>Serial Number</th>
											<th>Insertion Loss</th>
											<th>Return Loss</th>
											<th>Coupling</th>
											<th>Directivity</th>
											<th>Coupling Flatness</th>
											<th>Art Work</th>
									  {% endif %}
									</tr>
								</thead>
								<tbody>
								{% load index %}
								{% for data in report_data %}
									<tr>
										<td><a class="nav-link">UUT{{forloop.counter}}</td>
										<td><a class="nav-link">{{test1_list|index:forloop.counter0|stringformat:".2f"}}</td>
										<td><a class="nav-link">{{test2_list|index:forloop.counter0|stringformat:".2f"}}</td>
										<td><a class="nav-link">{{test3_list|index:forloop.counter0|stringformat:".2f"}}</td>
										<td><a class="nav-link">{{test4_list|index:forloop.counter0|stringformat:".2f"}}</td>
										<td><a class="nav-link">{{test5_list|index:forloop.counter0|stringformat:".2f"}}</td>
										<td><a class="nav-link">{{art_rev_list|index:forloop.counter0}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>	
						</div>
					</div>
				</section>
			{% endif %}
		</div>	
	</form>
		<div class="container">
			<h2 class="text-center">Active Workstations</h2>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% if test_status1 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
					  <embed type="image/svg+xml" src={{test_status1|safe}} style='max-width:300px'/>
						<div class="card-body">
						  <p class="card-text">{{test_comment1|linebreaks}}</p>
						</div>
					  </div>
					</div>
				{% endif %}
				{% if test_status2 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status2|safe}} style='max-width:300px'/>
						<div class="card-body">
						  <p class="card-text">{{test_comment2|linebreaks}}</p>
						</div>
					  </div>
					</div>
				{% endif %}
				{% if test_status3 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status3|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment3|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status4 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status4|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment4|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}	
				{% if test_status5 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status5|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment5|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status6 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status6|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment6|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status7 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status7|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment7|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status8 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status8|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment8|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status9 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status9|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment9|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
				{% if test_status10 != -1 %}
					<div class="col">
					  <div class="card shadow-sm">
						<embed type="image/svg+xml" src={{test_status10|safe}} style='max-width:300px'/><div class="card-body">
						  <p class="card-text">{{test_comment10|linebreaks}}</p>
					  </div>
					</div>
				  </div>
				{% endif %}
			</div>
		</div>
	  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1"> &copy; Automated Test Solutions</p>
   
  </div>
</footer>
<script type="text/javascript" src="{% static 'excel/js/bootstrap.bundle.min.js' %}"></script>
</body>
  {% endblock %}
</html>
