{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-icon" href="{% static 'stock/images/ats_16X16.ico' %}">
		<title>IPP Priority Management</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="stock Management page">
		<meta http-equiv="refresh" content="600"> <!-- Refresh every 10 minutes -->
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'stock/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'stock/css/styles.css' %}">
		<!-- Book Search -->
		<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/grid/">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
		<link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default.min.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        
		<!-- Custom styles for this template -->
		<link href="{% static 'stock/css/grid.css' %}" rel="stylesheet">
		<link href="{% static 'stock/css/styles.css' %}" rel="stylesheet">
		<script
		  src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>
		
		<style>
			canvas {
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
			}
		</style>
		<script type="text/javascript">
			$(window).load(function(){
				window.print();
			});
			
			window.onafterprint = function(e){
				closePrintView();
			};
			
			function closePrintView() {
				window.location.href = "{% url 'stock:priority' %}";   
			}
		
	   </script>
		</head>
	<body>
	   {% block body %}
	   {% endblock %}
	</body>
</html>
